.container{
    text-align:center;
    margin-top:45px;

}

table{
    margin-top:40px;
    margin:auto;
    padding: auto;
    
}
input{
    margin-bottom:20px;
    font-size:20px;
    height: 35px;
    border: 5px solid #da70d6;
}
button{
   font-size:25px;
   background:orchid;
   width: 60px;
   height: 40px;
   border-radius: 10px;
}
.calculator{
   
    border: 2px solid #da70d6 ;
    display: inline-block;
    padding: 20px;
    border-radius: 9px;
    background-color: antiquewhite;
    
}
